{% extends 'layout.html' %}

{% block content %}
    <h2>Purpose</h2>
    <ul>
        <li>To provide Memphis PHP with a simple, consistent development environment</li>
        <li>To encourage best practices in PHP development</li>
        <li>To make PHP development fast, fun, and simple</li>
    </ul>
    <h2>Credits</h2>
    <ul>
        <li>Brought to you by <a href="http://memphisphp.org">Memphis PHP</a></li>
        <li>Created with Vagrant and Puppet via <a href="https://puphpet.com/">PuPHPet</a></li>
    </ul>
{% endblock %}
